@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
  background-color: rgb(230, 230, 230);
}

* {
  font-family: "Courier Prime", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  color: rgb(103, 103, 103);
  line-height: 1.6;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
  color: rgb(103, 103, 103);
  font-size: 4rem;
}

h2 {
  font-weight: 500;
  margin-top: 10px;
  color: #555;
  font-size: 3rem;
}

#home-button a {
  position: absolute;
  top: 30px;
  right: 10px;
  text-decoration: none;
  color: white;
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  background-color: rgb(202, 202, 202);
  padding: 6px 15px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
}
#home-button a:hover {
  background-color: rgb(97, 97, 97);
}

#category-display {
  font-size: 2rem;
  text-align: center;
  margin-top: 5px;
}
.category-badge {
  display: inline-block;
  background-color: rgb(202, 202, 202);
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  margin: 0 5px;
  font-size: 1.5rem;
}

#deleteBtn {
  padding: 10px 15px;
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  font-weight: 500;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#deleteBtn:hover {
  background-color: #ac2734;
}

/* --- Képek --- */
#images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

#images img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#map {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#year-display {
  font-size: 3rem;
  color: #444;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 600px) {
  #images {
    flex-direction: column;
    align-items: center;
  }

  #images img {
    max-width: 90%;
  }
}
