header {
  display: flex;
  justify-content: end;
  padding: 20px;
  background-color: rgb(230, 230, 230)
}
nav a {
  text-decoration: none;
  color: white;
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  background-color: rgb(202, 202, 202);
  padding: 6px 15px; 
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#upload-button a{
  color: white;
  background-color: #2563EB;
}
nav a:hover {
  background-color: rgb(97, 97, 97);
}
#upload-button a:hover{
  color: white;
  background-color: #1E3A8A;
}
#main-title {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  margin-bottom: 20px;
}

#list h3 {
  margin-top: 30px;
  font-size: 2rem;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

#list ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    font-size: clamp(2.5rem, 4vw, 3rem);
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    width: 90%;
    display: block;
    text-align: center;
    font-size: clamp(3rem, 6vw, 4rem);
    margin-bottom: 10px;
  }
}