header {
  display: block;
  padding: 20px;
  padding-top: 10px;
}
#nav-upper {
  width: 97%;
  display: flex;
}
#nav-upper-left {
  flex: 1;
  justify-content: center;
  display: flex;
}
#nav-upper-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
#nav-lower {
  width: 100%;
  display: flex;
  justify-content: end;
}
#nav-lower {
  width: 97%;
  margin-top: 4%;
}
.nav-button {
  width: 30%;
}
nav a{
  flex: 1;
  text-decoration: none;
  color: #737373;
  font-size: 1.8rem;
  font-weight: 400;
  display: inline-block;
  padding: 6px 15px; 
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  transform: scaleY(0.8);
}
#upload-button a{
  color: black;
  font-size: 3.5rem;
  transform: scaleY(0.75) scaleX(1.2);
}
nav a:hover {
  text-decoration: underline;
}
#main-title {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  margin-bottom: 20px;
}

#list h3 {
  margin-top: 30px;
  font-size: 2rem;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

#list ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    font-size: clamp(2.5rem, 4vw, 3rem);
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    width: 90%;
    display: block;
    text-align: center;
    font-size: clamp(3rem, 6vw, 4rem);
    margin-bottom: 10px;
  }
}