@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
html{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 100vh;
    overflow: hidden;
}
h1 {
    font-size: 4rem;
    margin-bottom: 2%;
}
#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email, #password {
    font-size: 1.5rem;
    padding: 8px;
    margin: 0;
    min-width: 25vw;
    border: 2px solid #333;
    border-radius: 5px;
}
.form-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    min-width: 15rem;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-button:hover {
  background-color: darkblue;
}

@media (max-width: 900px) {
    h1 {
        font-size: 6rem;
    }
    #email, #password {
        font-size: 2rem;
        padding: 20px 30px;
        min-width: 500px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 8rem;
    }
}