@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
  font-style: normal;
  background-color: rgb(230, 230, 230);
}

body {
  color: #4b4b4b;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: rgb(103, 103, 103);
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1rem;
  color: #444;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  padding: 10px 12px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
  border-color: #007BFF;
  outline: none;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#location-display {
  padding: 8px 12px;
  font-size: 1rem;
  margin-top: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
  min-height: 1.5em;
}
.select-category{
  margin-top: 6px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
  width: 100%;
  max-width: 50vw;
  box-sizing: border-box;
}
.add-category {
  width: 100%;
}
#add-category-btn, #category-select-btn{
  font-size: 1.4rem;
  font-weight: 500;
  width: 6.5%;
  color: rgb(104, 104, 104);
  border: 2px solid rgb(104, 104, 104);
  border-radius: 5px;
}
button[type="submit"] {
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  form {
    padding: 15px;
  }

  input[type="text"],
  input[type="number"],
  input[type="file"] {
    font-size: 0.95rem;
  }

  button[type="submit"] {
    font-size: 1rem;
  }
}
